div(layout='row', layout-align='center center')
  div(flex='20')
  md-content(flex='60', layout-margin, layout-padding)
    md-toolbar
      h2.md-toolbar-tools
        span This is the partial for view 2.
  div(flex='20')
